@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 90%;
    height: 80vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    
}


/* --------           left section             ----------- */


.list .list_item {
    height: 6.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow: 3px 3px 13px -5px #f7eaeade;
}

.label {
    font-size: 1.4rem;
}

.hidden_label {
    display: none;
}

.list_img {
    height: 5rem;
    width: 5rem;
    border-radius: 3px;
    object-fit: cover;
    margin: 0px 0.6rem;
}

.selected {
    background-color: blue;
    color: white;
}

.div_slice{
    font-size: 1.4rem;
    visibility: hidden;
    display: inline;
    border: 2px solid red;
}
/* ---------            right section ------- */

.img_box {
    height: 80vh;
}

.img_box img {
    width: 100%;
    height: 95%;
    margin-bottom: -0.3rem;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0px -1px 4px 0px black;
}

.title {
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1.8rem;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.title:focus {
    outline: none;
}



@media (max-width:650px) {

    .container {
       
        grid-template-columns: 300px ;
        justify-content: center;
        
    }
    .img_box {
        height: 40vh;
    }
}