@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    --color_dark: hsl(0, 2%, 16%);
    --color_primary: hsl(240, 57%, 52%);
    --color_body:hsl(0, 0%, 100%);

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow: hidden;
    background-color: var(--color_body);
    color: var(--color_dark);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 90%;
    height: 80vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    
}


/* ---------         dark mode clasese        ----------- */



.toggle_mode{
    position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: 700;
    border-radius: 20px;
    background-color: var(--color_dark);
    color: var(--color_body);
    

}
.dark_mode {
    --color_dark: hsl(0, 25%, 94%);
    --color_primary: hsl(237, 41%, 36%);
    --color_body:hsl(0, 3%, 20%);
  }


/* --------           left section             ----------- */


.list .list_item {
    height: 6.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 7px -3px #dac5c5;
    transition: all 0.2s ease;
}

.label {
    font-size: 1.6rem;
}

.hidden_label {
    display: none;
}

.list_img {
    height: 5rem;
    width: 5rem;
    border-radius: 3px;
    object-fit: cover;
    margin: 0px 0.6rem;
}

.selected {
    background-color: var(--color_primary);
    color: hsl(0, 0%, 100%);
}

#div_slice{
    
    visibility: hidden;
    display: inline;
    
}
/* ---------            right section ------- */

.img_box {
    height: 80vh;
   
}

.img_box img {
    width: 100%;
    height: 95%;
    margin-bottom: 0.7rem;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0px -1px 4px 0px black;
}

.title {
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1.7rem;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--color_body);
    color: var(--color_dark);
}

.title:focus {
    outline: none;
}






 /* ------------------ media queries   ------------ */

@media (max-width:650px) {
  body{
    overflow: auto;
  }
    .container {
       
        grid-template-columns: 300px ;
        justify-content: center;
        
    }
    .img_box {
        height: 40vh;
    }
}

