@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 900px;
    /* width: 80%; */
    height: 80%;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;

}

.list
{
    width: 300px;
    /* border: 2px solid green; */
}
.list .list_item{
   height: 60px;
   /* border: 2px solid black; */
   border-radius: 3px;
   display: flex;
   align-items: center;
   text-decoration: none;
}
.label{
    font-size: 14px;
}
.hidden_label{
    display: none;
}
.list_img{
  height: 50px;
  width: 50px;
  border-radius: 3px;
  object-fit: cover;
  margin: 0px 3px;
}

.img_box{
    /* border: 2px solid blue; */
    width: 570px;
    height:100%
    
    
}

.selected{
    background-color: blue;
    color: white;

}

.img_box img{
    width: 100%;
    height: 95%;
    margin-bottom: -5px;
    border-radius: 3px;
    object-fit: cover;
}
input.title{
    width: 100%;
    text-align: center;
    border: none;
    font-size: 17px;
}